.htmlWrapper {
	width: 60rem;
	font-family: "Roboto Mono", sans-serif;
	position: relative;
}

.goBack {
	background: none;
	border: none;
	font: inherit;
	color: white;
	margin: 1rem 0;
	text-decoration: underline;
	cursor: pointer;
}

.goBack:hover {
	color: #c39bed;
}
