.htmlWrapper {
	background-color: aliceblue;
	width: 40rem;
	border-radius: 1rem;
	padding: 1rem;
	transform: translateY(-150%);
	font-family: "Roboto Mono", sans-serif;
	text-align: center;
}

.htmlWrapper .title {
	font-family: "Roboto Mono", sans-serif;
}

.htmlWrapper .description {
	font-family: "Roboto Mono", sans-serif;
}
