@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.sectionWrapper {
	min-height: 50vh;
	background-color: rgb(10, 10, 10);
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Roboto Mono", sans-serif;
}

.sectionWrapper .title {
	margin: 4rem;
	font-size: 3rem;
}

.sectionWrapper .iconWrapper {
	height: 12rem;
}

.iconWrapper .icon {
	min-height: 100%;
}

.sectionWrapper .text {
	margin: 3rem;
	font-size: 1.5rem;
}
