.cardContentsWrapper {
	background-color: aliceblue;
	border-radius: 1rem;
	padding: 2rem;
	text-align: center;
	max-height: 80vh;
}

.cardContentsWrapper .title {
	font-size: 2rem;
	margin: 1.5rem;
	margin-top: 0rem;
	text-decoration: underline;
}

.cardContentsWrapper .formElement {
	display: flex;
	flex-direction: column;
}

.formElement .inputField {
	border: none;
	padding: 1rem;
	margin: 0.5rem;
	font-family: "Roboto Mono", sans-serif;
	outline: solid #c39bed;
	outline-width: 1px;
	border-radius: 0.5rem;
	resize: none;
}

.formElement .inputField:hover {
	cursor: pointer;
	cursor: black;
}

.formElement .inputField::-webkit-input-placeholder {
	color: #202020;
}

/* For Mozilla Firefox */
.formElement .inputField:-moz-placeholder {
	color: #202002;
}

.formElement .inputField:focus {
	cursor: pointer;
	cursor: black;
	outline: solid #571f8f;
	outline-width: 1px;
}

.formElement .formButton {
	font: inherit;
	font-size: 1.2rem;
	width: fit-content;
	align-self: center;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: none;
	background-color: #c39bed;
	cursor: pointer;
}

.cardContentsWrapper .socials {
	display: flex;
	justify-content: center;
}

.socials .socialsIconContainer {
	margin: 2rem 2rem 0rem 2rem;
}

.socials .socialsIconContainer:hover {
	cursor: pointer;
}
