* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: red;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.8rem;
	background-color: rgba(0, 0, 0, 0.726);
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(202, 159, 244, 0.5);
	border-radius: 14px;
	border: 3px solid rgba(87, 31, 143, 0.4);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(202, 159, 244, 0.7);
}
